DOC_NAME="TensorRT-LLM"
DOCS_PATH="/Users/sergeyleksikov/Documents/GitHub/RAGModelService/rag_service"
OPENAI_API_KEY="sk-123"
OPENAI_MODEL="gpt-4o"
EMBEDDING_MODEL="text-embedding-3-small"
TEMPERATURE=0.2
MAX_RESULTS=5